@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{ margin: 0; padding: 0; color: white;}

html { height: 100%; width: 100% }
ul{list-style: none;}
li{list-style: none;}

body { 
    height: 100%; width: 100%; 
    background-color: antiquewhite;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    }

#SIUNI { 
    height: 100%; width: 100%;
    background-color: #000415;
    position: relative;
    display: flex; flex-direction: row;
}

 
/* CONTEUDO --------------------------------------------------------------------------------------- */
#Conteudo { 
    flex: 1; height: 100%;

    }


/* BARRA LATERAL ---------------------------------------------------------------------------------- */

#BarraLateral01 {
    height: 100vh; width: 300px;
    position: relative;
    }   
#BarraLateral02 {
    height: 100%; width: 300px;
    position: fixed;
    }
#BarraLateral03 {
    height: 100%; width: 100%;
    background-color: #000415;
    position: relative;
    border-right: solid rgb(32, 32, 32) 1px;
    }

/*-----------------------------------------------------------------------------*/

.BlocoLateral {
    display: flex; flex-direction: column;  align-items: stretch; 
    }


/* LOGO ------------------------------------------------------------------------------------------- */
#BlocoLogo {
    position: relative; top: 20px;
    width: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    font-family: "Inter", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; letter-spacing: 2px; 
    }

#SiuniArea {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#SiuniArea:hover #PaiSiuniText #SiuniText {
    left: 0%;
    }

#SiuniLogo {
    position: relative;
    background-image: url(../IMGS/LOGO_FULL.png);
    background-repeat: no-repeat; background-size: contain; background-position: center;
    width: 80px; height: 80px;
    }


#PaiSiuniText {
    cursor: pointer;
    position: relative;
    font-size: 2.5rem; font-weight: 800;
    overflow: hidden;
    }

#PaiSiuniText::after {
    content: 'SIUNI';
    color: transparent;
    }

#SiuniText {
    position: absolute;
    transition: 0.5s;
    left: -100%;
    }

#BlocoAbas{
    position: absolute; width: 100%;
    top: 200px;
    display: flex; flex-direction: column; align-items: center;
    }

#BlocoConf01 {
    display: flex; flex-direction: column; align-items: center;
    position: absolute; width: 100%;
    bottom: 20px;
    }

/* ITEM LATERAL ------------------------------------------------------------------------------------*/

.ItemLink {
    font-size: 1rem;
    cursor: pointer;
    height: 50px; width: 95%;
    margin-top: 5px; margin-bottom: 5px;
    display: flex; flex-direction: row; align-items: center;
    border-radius: 10px;
    transition: 0.3s;
    }

.ItemLink:hover { background-color: rgba(255, 255, 255, 0.1); }

.ItemLink:hover i { transform: scale(1.1); }

.ItemIcon {
    margin-left: 15px;
    display: flex; justify-content: center; align-items: center;
    }

.ItemText { margin: 0 0 0 15px; }   

i {
    font-size: 1.6rem;
    transition: 0.3s;

}

