{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static 'css/CalendarioPuc.css' %}">
<script src="{% static 'js/CalendarioPuc.js' %}"></script>


<div id="CalendarioPuc">
    <div id="CalendarioCampoCentral">

        <div id="CalendarioSuperior">
            <div class="MesAno">
                <button class="SetaMes" onclick="alterarMes(-1)">&#10094;</button>
                <div id="MesAno">
                    <span id="Mes">NOVEMBRO</span>
                    <span id="Ano">2024</span>
                </div>
                <button class="SetaMes" onclick="alterarMes(1)">&#10095;</button>
            </div>
            <div id="SemanaNumero">Semana 1</div>
            <div id="DataTexto">Hoje é Sexta-feira, 22 de Novembro de 2024, 10:03:06</div>
        </div>

        <div id="CalendarioInferior">
            <!-- Estrutura da semana será atualizada dinamicamente -->
        </div>

        <div class="SemanaNavegacao">
            <button class="SetaSemana" onclick="alterarSemana(-1)">&#10094; Semana Anterior</button>
            <button class="SetaSemana" onclick="alterarSemana(1)">Próxima Semana &#10095;</button>
        </div>
    </div>
</div>



{% endblock %}
