{% load static %}
<!DOCTYPE html>
<html lang="pt-br" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIUNI</title>

    <script>
        // Configura o tema antes de carregar o CSS
        const temaSalvo = localStorage.getItem('temaAtual') || 'dark';
        document.documentElement.classList.add(temaSalvo === 'light' ? 'lightTheme' : 'darkTheme');
    </script>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/_Raiz.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <div id="LOGIN">
        <div id="BySIUNI" class="surgindo">
            <div id="LogoSIUNI"></div>
            <p id="TextSIUNI">SIUNI</p>
        </div>
        <div id="BlocoPrincipal">
            <div id="BlocoLogo">
                <div id="LogoPUC"></div>
            </div>
            <form method="post" action="{% url 'fazer_login' %}" id="login-form">
                {% csrf_token %}
                <div id="BlocoCampos">
                    <div id="CampoMatricula" class="Campo">
                        <input type="text" name="matricula" id="InputMatricula" class="Input" placeholder="Matrícula">
                    </div>

                    <div id="CampoSenha" class="Campo">
                        <input type="password" name="senha" id="InputSenha" class="Input" placeholder="Senha">
                    </div>
                </div>

                <div id="BlocoEnviar" class="Bloco">
                    <button type="submit" id="BotaoEnviar" onclick="exibirMensagemEspera()">Enviar</button>
                    {% if error %}
                        {{ error }}
                    {% endif %}
                    <div id="MensagemEspera">
                        <div id="AnimacaoBolinhas">
                            <span class="bolinha"></span>
                            <span class="bolinha"></span>
                            <span class="bolinha"></span>
                        </div>
                        <p>Aguarde, verificando nossos sistemas...</p>
                    </div>
                </div>
            </form>
        </div>
            <a id="OP-TEMA-COR" class="OPCF" onclick="alternaTema()">
            <i id="IconOptionTheme" class="bi bi-lightbulb-fill OptionIcon"></i>
            <span class="OptionText">Trocar Tema</span>
            </a>  
        </div>
    </div>

    <script src="{% static 'js/Configuracoes/Configuracoes.js' %}"></script>
    <script src="{% static 'js/SIUNI.js' %}"></script>
    <script src="https://kit.fontawesome.com/f196a55506.js" crossorigin="anonymous"></script>
</body>
