{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static 'css/MeuCurso.css' %}">
<script src="{% static 'js/MeuCurso.js' %}"></script>

<div id="MeuCurso">

    <div id="MeuCursoCampoPrincipal">

        <div id="MeuCursoAreaGrade">

            <div id="MeuCursoAreaGradeInfos">
                <div id="MeuCursoAreaGradeInfosTitulo"> GRADE </div>
                <div id="MeuCursoAreaGradeInfosSemestre"> 2024.2 </div>

            </div>

            <div id="MeuCursoAreaGradeGrade">
                


            </div>

        </div>

        <div id="MeuCursoAreaListaDeCursos">
        
            <div id="MeuCursoAreaListaDeCursosTitulo"> Minhas matérias: </div>

            <div id="MeuCursoAreaListaDeCursosCursos"> 

                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>


                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>



                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>


                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>


                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>


                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>

                <div class="MeuCursoMateria" >
                    <div id="MeuCursoMateriaIcon"> <i class="bi bi-book"></i>  </div>
                    <div id="MeuCursoMateriaNome"> História do sexo  </div>
                    <div id="MeuCursoMateriaCodigo"> HIS1069 </div>
                    <div id="MeuCursoMateriaTurma"> 3WA </div>
                    <div id="MeuCursoMateriaHorario"> 7:00 - 9:00 </div>
                </div>

            </div>

        </div>
        
        
    </div>


</div>

{% endblock %}