{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">

{% include 'SIUNI.html' %}


<div id="Perfil">
<div id="CampoInformacoes">
    <div id="CampoInformacoesPrincipal">

        <div id="AreaInformacoes">
            <div id="BlocoFoto" class="BlocoInfo">
                <img id="FotoDePerfil" src="../IMGS/FotoPerfil.png" alt="FotoDePerfil">
            </div>

            <div id="BlocoStatus" class="BlocoInfo">
                <div id="TextoNome">Davi Brito (BBB)</div>
                <div id="TextoCurso">Engenharia Aeroespacial Quântica</div>
                <div id="TextoSemestre">5º semestre</div>
            </div>
        </div>

    </div>
</div>
     
    
<div id="CampoFuncionalidades"> </div>
    
</div>

{% endblock %}
