{% extends 'base.html' %}
{% load static %}

{% block body %}


<link rel="stylesheet" type="text/css" href="{% static 'css/Perfil.css' %}">

<div id="Perfil">

<div id="CampoInformacoes">
    <div id="CampoInformacoesPrincipal">

        <div id="AreaInformacoes">
            <div id="BlocoFoto" class="BlocoInfo">
                <img id="FotoDePerfil" src="{% static 'images/FotoPerfil.png' %}" alt="FotoDePerfil">
            </div>

            <div id="BlocoStatus" class="BlocoInfo">
                <div id="TextoNome">{{ aluno.usuario.nome_usuario }}</div>
                <div id="TextoCurso">{{ aluno.curso }}</div>
                <div id="TextoSemestre">{{ aluno.periodo }}</div>
            </div>
        </div>

    </div>
</div>
    
    
<div id="CampoFuncionalidades"> </div>
    
</div>

{% endblock %}