{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/PucAgora.css' %}">
<script src="{% static 'js/PucAgora.js' %}"></script>


<div id="PucAgora">

    <div id="CampoPrincipal">

        <!--Esquerdo-->
        
        <div id="BlocoEsquerdo">
            
            <div id="AreaDeAbas"> 
                <a href="{% url 'feed' %}" class="ABA" id="ABA-FEED"> 
                    <div>Feed</div>
                </a>
                <a href="{% url 'mapa' %}" class="ABA" id="ABA-MAPA"> 
                    <div>Mapa</div>
                </a>
                <a href="{% url 'siuni_mais' %}" class="ABA" id="ABA-SIUNI"> 
                    <div>Siuni +</div>
                </a>
            </div>
            
            
            <div id="AreaDeConteudo">
                {%block div%}
                {%endblock %}
            </div>
            
        </div>
        
        <!--Direito-->

        <div id="BlocoDireito">
            
            <div id="AreaDeInformacoes">
                <div id="TituloAreaDeInformacoes">Relevante</div>
                <div class="InformacaoFixa">Cardápio bandejas</div>
                <div class="InformacaoFixa">Alguma Coisa 1</div>
                <div class="InformacaoFixa">Alguma Coisa 2</div>
            </div>
            
        </div>
            
        <div id="BtnAddNot" onclick="AdicionarNoticia()"></div>
        
    </div>
        
</div>



{% endblock %}
