#ModalNoticia {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; flex-direction: column; justify-content: center; align-items: center;

    }


#CampoNoticia {
    background-color: white;
    height: 80%; width: 80%;
    border-radius: 20px ;
    position: relative;
    overflow: hidden;
    display: flex; flex-direction: column; justify-content: flex-start;
    }




#Noticia-BarraDeFechamento {
    height: 35px;
    display: flex; flex-direction: row; align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(185, 185, 185);
    position: relative;
    }

#Noticia-BarraDeFechamento i{
    font-size: 1.4rem;
    position: absolute;
    right: 5px; top: 5px;
    cursor: pointer;
    color: rgb(150, 150, 150);
    

    }

#Noticia-BarraDeFechamento i:hover{
    color: rgb(150, 0, 0);
    }


#Noticia-BarraDeProgesso {
    box-sizing: border-box;
    height: 5px;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(185, 185, 185);
    }   

#Noticia-Progresso {
    height: 100%;
    width: 0%;
    background-color:rgb(0, 142, 185);
    }

/* NOTICIA */

#Noticia-NoticiaDetalhada {
    flex-shrink: 0;
    flex: 1;
    overflow: auto;
    color: black;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    
    }




@media (max-width: 1000px) 
    { 

    #ModalNoticia {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        display: none;
    
        }



    #CampoNoticia { 
        all: unset;        
        width: 100%;
        background-color: white;
        bottom: calc(0% + var(--BarraInferiorHeight));
        height: 80%;
        overflow: hidden;
        position: absolute;
        display: flex; flex-direction: column; justify-content: flex-start;
        }




    }   

