#PucAgoraMapa, #PucAgoraMapaGPS {
    height: 60%; /* Altura padrão */
    width: 100%; /* Largura total */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#PucAgoraMapa {
    background-image: url("/static/images/mapa.png");
}

/* Oculta barras de rolagem no navegador */
#PucAgoraMapaGPS::-webkit-scrollbar,
#PucAgoraMapa::-moz-scrollbar {
    display: none;
}

#ABA-MAPA {
    background-color: var(--MateriaBackgroundColor);
}

@media (max-width: 1300px) {
    #BlocoDireito {
        display: none !important;
    }
}

/* Responsividade */
@media (max-width: 1000px) {

    #PucAgoraMapaGPS {
        height: auto; /* Ajusta a altura automaticamente */
        width: 100%;
        margin-bottom: 20px; /* Espaço extra caso necessário */
    }
}
