{% extends 'PucAgora.html' %}
{% load static %}

{% block div %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PucAgora/Feed.css' %}">
<script type="text/javascript" src="{% static 'js/Noticia/Noticia.js' %}"></script>

<div id="Feed">
    <div class="Noticia" data-testid="0" onclick="abrirNoticia(this)">
        <div class="NotContent">
            <div class="NotEsq">
                <img src="{% static 'images/Noticias/Noticia1.png' %}" alt="Noticia" class="NotImg">
            </div>
        
            <div class="NotDir">
                <div class="NotTitulo">Como matar fácil o hacker no frifas</div>
                <div class="NotDescricao">Adicione um comentário...blablabla blabla blabblabla blablabla blabla</div>
                <div class="NotFonte">{{ usuario.nome_usuario }}</div>
            </div>
        </div>
    </div>


    <div class="Noticia" data-testid="0" onclick="abrirNoticia(this)">
        <div class="NotContent">
            <div class="NotEsq">
                <img src="{% static 'images/Noticias/Noticia1.png' %}" alt="Noticia" class="NotImg">
            </div>
        
            <div class="NotDir">
                <div class="NotTitulo">Como matar fácil o hacker no frifas</div>
                <div class="NotDescricao">Adicione um comentário...blablabla blabla blabblabla blablabla blabla</div>
                <div class="NotFonte">Moranguinhos da PUC</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}