{% extends 'PucAgora.html' %}
{% load static %}

{% block div %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PucAgora/Feed.css' %}">
<script type="text/javascript" src="{% static 'js/Noticia/Noticia.js' %}"></script>

<div id="Feed">
    {% for noticia in noticias %}
    <div class="Noticia" data-testid="0" onclick="abrirNoticia(this)">
        <div class="NotContent">
            <div class="NotEsq">
                <img src="{{ noticia.imagem.url }}" alt="Noticia" class="NotImg">
            </div>
        
            <div class="NotDir">
                <div class="NotTitulo">{{ noticia.titulo }}</div>
                <div class="NotDescricao">{{ noticia.legenda }}</div>
                <div class="NotFonte">{{ noticia.autor }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}