{% extends 'PucAgora.html' %}
{% load static %}

{% block div %}
<link rel="stylesheet" type="text/css" href="{% static 'css/PucAgora/Mapa.css' %}">

<div id="PucAgoraMapaGPS">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1369.5219474054325!2d-43.233500240234996!3d-22.979733860308155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd5ca02b99d7b%3A0xf49ca71057d61fe8!2sPontif%C3%ADcia%20Universidade%20Cat%C3%B3lica%20do%20Rio%20de%20Janeiro%20(PUC-Rio)!5e1!3m2!1spt-BR!2sbr!4v1732402433767!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div id="PucAgoraMapa"></div>
{% endblock %}