@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { margin: 0%; padding: 0%; }
html, body { height: 100%; width: 100%; }

body { 
    background-color: var(--BackgroundColor);
    background-size: 100% 200%;
    font-family: "Lexend", sans-serif; font-optical-sizing: auto; font-weight: 200; font-style: normal;
    transition: 0.2s ease;
    color: var(--FontColor);
    }

#OP-TEMA-COR {
    position: absolute;
    bottom: 0;
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 5px 8px; /* Espaçamento interno menor */
    font-size: 0.8rem; /* Reduz o tamanho do texto */
    border: 1px solid #ccc; /* Adiciona uma borda fina (opcional) */
    border-radius: 5px; /* Arredonda as bordas */
    background-color: var(--MateriaBackgroundColor); /* Cor de fundo clara */
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave para hover */;
}

#OP-TEMA-COR:hover {
    background-color: var(--HoverItemBackgroundColor); /* Muda a cor de fundo ao passar o mouse */
}

#IconOptionTheme {
    font-size: 1rem; /* Reduz o tamanho do ícone */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    color: var(--FontColor);
    transition: all 0.3s ease; /* Transição suave para hover */;
}

.OptionText {
    font-size: 0.8rem; /* Reduz o tamanho do texto */
    color: var(--FontColor);
    transition: all 0.3s ease; /* Transição suave para hover */;
}
    


#AnimacaoBolinhas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bolinha {
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 50%;
    animation: pular 1.5s infinite ease-in-out;
}

.bolinha:nth-child(1) {
    animation-delay: 0s;
}

.bolinha:nth-child(2) {
    animation-delay: 0.2s;
}

.bolinha:nth-child(3) {
    animation-delay: 0.4s;
    margin-right: 30px;

}

@keyframes pular {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

#MensagemEspera {
    display: none; /* Oculta inicialmente */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

#MensagemEspera.active {
    display: flex; /* Exibe como um contêiner flexível */
}


#BySIUNI {
    position: fixed;
    top: 1%; left: 1%;
    display: flex; flex-direction: row; align-items: center;
    }

#LogoSIUNI {
    width: 45px; height: 45px; 
    background-image: url("/static/images/LOGO_FULL.png");
    background-repeat: no-repeat; background-size: contain; background-position: center;
    margin-right: 10px;
    }

#TextSIUNI {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3rem;
    font-weight: 700;
    }

#LOGIN {
    width: 100%; height: 100%;
    position: relative;
    }
    
/* BLOCO CENTRAL ---------------------------------------------------------------------------------- */

#BlocoPrincipal {
    height: 100%; width: 100%; max-height: 600px; min-height: 400px;
    display: flex; flex-direction: column ; justify-content: space-between; align-items: stretch;
    position: absolute;
    top: 20px;
    }

/* LOGO ------------------------------------------------------------------------------------------- */

#BlocoLogo {
    flex: 1;
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
    }

#LogoPUC {
    width: 150px; height: 150px; 
    background-image: url("/static/images/LogoPUC-Rio.png");
    background-repeat: no-repeat; background-size: contain; background-position: center;
    }





/* CAMPOS DE PREENCHIMENTO ------------------------------------------------------------------------ */

#BlocoCampos {
    flex: 1;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center; 
    transform: translateY(-30px);
    }

.Campo {
    flex: 1;
    width: 100%; 
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin: 40px;
    }

.Input {
    font-weight: 400; font-style: normal; letter-spacing: 2px; font-size: 1rem; color: var(--FontColor); font-family: "Inter", sans-serif; font-optical-sizing: auto;
    background-color: transparent;
    border: 0; border-bottom: solid var(--FontColor) 1px;
    width: 80%; height: 30px;
    max-width: 450px;
    transition: 0.3s ease-out;
    }

.Input:focus { 
    outline: none; 
    border-bottom: solid rgb(255, 204, 63) 1px;
    max-width: 500px;
    

    }
    


/* ENVIAR ----------------------------------------------------------------------------------------- */

#BlocoEnviar { 
    flex: 1; 
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
    }

#CaixaEnviar {
    width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

#BotaoEnviar {
    background-color: rgb(39, 114, 255); font-weight: 300;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    height: 45px; width: 180px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease-in-out ;
    margin-top: 34px;
    margin-bottom: 40px;
    border: 0px;
    font-size: inherit !important;
    color: white;
    }

#BotaoEnviar:hover {
    width: 190px; 
    box-shadow: 0px 0px 50px -10px rgb(255, 204, 63);
    background-color: rgb(255, 204, 63);
    color: #00021d;
    }


/* RESPONSIVIDADE ------------------------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 600px) { /* Celular ---------------------------------------- */
   
    }

@media (max-height: 500px) { /* Celular virado -------------------------------  */
    #BlocoPrincipal {
        top: 10px;
        }

    #BlocoLogo {
        flex: 0.5;
        }

    #LogoPUC {
        width: 100px; height: 100px; 
        }

    }

