:root {
    --TamanhoBlocoFixoComum: 300px;
    --TamanhoBlocoFixoReduzido: 200px;
    --CorFixo: #00083a;
    }

div#PucAgora {
    width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    box-sizing: border-box; 
    }

div#BarraFixa {
    background-color: var(--BackgroundColor);
    filter: brightness(1); /* Deixa a cor 20% mais escura */
    z-index:  1 !important;
}
/* CAMPO PRINCIPAL -------------------------------------------------------------------------------- */

div#CampoPrincipal {
    width: 80%;   min-width: 1000px; max-width: 1000px; 
    height: 100%; min-height: 100%;
    position: relative;
    box-sizing: border-box; 
    overflow-y: hidden; 
    display: flex; flex-direction: row;
    
    }


/* BLOCO ESQUERDO --------------------------------------------------------------------------------- */

div#BlocoEsquerdo {
    flex: 2;
    box-sizing: border-box; 
    position: relative;
    display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch;    
    }

div#AreaDeAbas {
    height: 80px;
    border-bottom: solid rgb(77, 77, 77) 1px;
    padding-bottom: 15px;
    display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end;
    gap: 10px;
    }

div.ABA {
    flex: 1;
    font-weight: 400;
    padding: 7px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    user-select: none;
    transition: 0.4s;
    }


 
    
/* NOTICIA ====================================== */

div#AreaDeConteudo { 
    flex: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    }




 
/* BLOCO DIREITO ---------------------------------------------------------------------------------- */
 
div#BlocoDireito {
    flex: 1;
    box-sizing: border-box; 
    position: relative;
    display: flex; flex-direction: row; justify-content: flex-end; align-items: stretch;
    }

div#AreaDeInformacoes {
    width: 90%; 
    /* background-color: var(--BackgroundColorB); */
    margin-top: 40px; margin-bottom: 40px;
    box-sizing: border-box;
    padding: 20px;
    display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch;
    }

div#TituloAreaDeInformacoes {
    font-size: 2rem; font-weight: 600;
    padding: 10px 0px;
    margin-bottom: 30px;
    }

.InformacaoFixa {
    user-select: none;
    font-weight: 500; color: #ffc72b;
    box-sizing: border-box; 
    margin: 20px 0px;
    cursor: pointer;
    }







/* RESPONSIVIDADE =================================================================================================================================== */

/* MINI PC */
@media (max-width: 1300px) 
{


}


/* TABLE / CELULAR */
@media (max-width: 1000px) 
{

div#CampoPrincipal {
    all: unset;
    width: 100%; height: 100%;
    display: flex; flex-direction: column;

    }


div#BlocoDireito {
    display: none;

    }

div#BlocoEsquerdo {
    all: unset;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box; 
    position: relative;
    display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch;    
    }


div#AreaDeAbas {
    all: unset;
    height: 60px;
    width: 100%;
    border-bottom: solid rgb(77, 77, 77) 1px;
    
    box-sizing: border-box;
    display: flex; flex-direction: row; justify-content: space-around; align-items: center;
    }

div.ABA {
    all: unset;
    width: 100px;
    font-weight: 400;
    padding: 7px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    user-select: none;
    }


/* NOTICIA ====================================== */

#AreaDeConteudo { 
    flex: 1;
    position: relative;
    overflow-y: auto;
    width: 100%;
    }

div#AreaDeConteudo::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}





}




/* CELULAR */
@media (max-width: 600px) 
{


}







/* TESTE ================================================== */

#BtnAddNot {
    position: fixed;
    right: 0; bottom: 0;
    height: 50px; width: 200px;
    background-color: #dda200;
    display: flex; justify-content: center; align-items: center;
    cursor: pointer;
    display: none;
}

#BtnAddNot::before {
    font-weight: 600;
    font: 2rem;
    content: 'Adicionar notícia';

}















